<h1 class="complex-heading">
  HTTP Requests in JavaScript
  <span>a.k.a. AJAX</span>
</h1>
 
<!-- Add button for creating new characters -->
<button class="js-add-character">Add a new character</button>
 
<button class="js-characters">Fetch characters</button>

<!-- Add a form to input character info -->
<form>
	<p>Name: <input type="text" class="Swname"></p>
	<p>Occupation: <input type="text" class="Swocc"></p>
	<p>Weapon: <input type="text" class="Swweapon"></p>
</form>
 
<ul class="js-character-list"></ul>