<div class="container">
  <div class="row tophead">
    <form>
      <h3 class="songh">30 second JukeBox</h3>
      <img class="buddy" src="http://buddylove.us/images/Buddy%20Love%20Logo.png">
      <div class="searchbar"> 
      <input type="text" class="tracklists" placeholder="Tracks">
      <button class="btn btn-success tracksearch">Search</button>
      </div>
    </form>
    <div class="print"></div>
  </div>
  <div class="widget">
    <div class="header">
      <!-- Try adding/removing these classes: -->
      <!-- disabled -->
      <!-- playing -->
      <div class="btn-play"></div>
      <div class="metadata">
        <div class="seekbar">
        <progress class="js-player" value="0" max="30"></progress>
      </div>
    </div>
  </div>
  <div class="cover">
  </div>
<audio id="audio" src="https://p.scdn.co/mp3-preview/8e9c5ffdc38e91659bfe8b6bd44650dfc25a3d31"></audio>
</div>
    <div class="row">
      <img class="eddie" src="http://djtt-cdn-w3cache.s3.amazonaws.com/wp-content/uploads/2011/08/online-music.bmp">
      <img class="eddie2" src="http://djtt-cdn-w3cache.s3.amazonaws.com/wp-content/uploads/2011/08/online-music.bmp">
    </div>
</div>